@media only screen and (max-width: 900px) {
  .main {
    flex-direction: column;
  }

  .info {
    height: max-content;
  }

  .second-main {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .nav.topnav {
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .centered-image {
    display: flex;
    justify-content: center;
  }

  .topnav a.icon {
    display: flex;
    height: 45px;
    width: 45px;
    justify-content: center;
    align-items: center;
  }

  .topnav a {
    display: none;
  }

  .topnav.responsive {
    position: absolute;
    right: 0;
    top: 25px;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    justify-content: initial;
    height: fit-content;
  }
  .topnav.responsive .icon {
    display: flex;
    align-self: flex-end;
  }
  .topnav.responsive a {
    display: block;
  }

  .topnav.responsive a.menu-item {
    width: 100%;
  }
}
